{
    "presets" : [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
      "require-context-hook", 
      "@babel/plugin-transform-runtime", 
      "@babel/plugin-proposal-class-properties"
    ],
    "env": {
      "test": {
        "plugins": ["require-context-hook"]
      }
    }
  }