%fullDimensions {
  width: 100%;
  margin: auto;
}
%flex-row {
  display: flex;
  flex-direction: row;
}
html {
  position: fixed;
  @extend %fullDimensions;
  body {
    height: 60%;
    width: 100%;
    margin: auto;
    #app {
      @extend %fullDimensions;
      .container {
        margin: auto;
        margin-top: 10%;
        width: 70%;
        background-color: #999999;
        height: 100%;
        h1 {
          width: 100%;
          text-align: center;
        }
        .pagination-container {
          display: flex;
          flex-direction: column;
          .oneItem {
            @extend %flex-row;
            height: 15%;
            div {
              padding: 20px;
            }
          }
          .pagination-buttons {
            display: flex;
            flex-direction: row;
            padding: 20px 50px 20px 0px;
          }
          
          .pagination-buttons button {
            height: 36px;
            cursor: pointer;
            font-size: 16px;
          }
          .pages {
            display: flex;
            flex-direction: row;
          }
          
          .pages button {
            border-bottom: 1px solid #d5d4d0;
            border-top: 1px solid #d5d4d0;
          }
          
          button#prev {
            border-bottom: 1px solid #d5d4d0;
            border-top: 1px solid #d5d4d0;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
          }
          
          button#next {
            border-bottom: 1px solid #d5d4d0;
            border-top: 1px solid #d5d4d0;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
      }
    }
  }
}
